.header {
    border: 1px solid #2e2e2e;
    border-radius: 4px;
    padding: 4px;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 32px;
}

.navigation a:hover {
    color: #2e2e2e;
    text-decoration: line-through;
}

@media (prefers-color-scheme: dark) {
    .header {
        border: 1px solid #f0f0f0;
    }

    .navigation a:hover {
        color: #f0f0f0;
    }
    
}